<%- include("head.part.ejs") %> 
<main> 
<!--gdyz tak zuniwersalizowalem format, musi byc taka logika-->
<div>
    <div class="contentsPop">
    <div>
            <p>Population centre name: <%=contents.name%></p>
            <p>Population: <%=contents.population%></p>
    </div>
        <div class="subContentsPOp">
            <details id="facilities">
                <summary>
                    <p>Facilities in this Population Centre</p>
                </summary>
                <!--these are undeletable because this is a planned economy and everything is subsidized (i didnt have time)-->
                <div class="smallTextForMetaData">
                    <table>
                        <thead>
                            <tr>
                                <th>Facility Name</th>
                                <th>Production Method</th>
                                <th>Facility Level</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% facilities.forEach(function(facilities) { %>
                                <tr>
                                    <td><%=facilities.facility_name%></td>
                                    <td><a href='/tabs/production_methods/<%=facilities.production_method_key%>'><%=facilities.production_method_key%></a></td>
                                    <td><%=facilities.facility_amount%></td>
                                </tr>
                            <% }); %>   
                        </tbody>
                    </table>
                </div>
                <%-include ("forms/addFacility.ejs")%>
            </details>
        </div>
    </div>
    <br>
    <div>
        <a href="/tabs/<%=category%>/<%=contents.key%>/delete" onclick="return confirm('are you sure?')">KILL(this population centre)</a>
        <h1>new</h1>
               <%- include("forms/add_to_category.ejs") %>
        <%- include("forms/edit/edit_category.ejs") %>
    </div>
</div>
</main>