<%- include("../head.part.ejs") %> 
<main> 
    <%- include("../with_forms_header.ejs")%>
<ul id="contents">
    <table>
        <tr>
            <th>Good Name</th>
            <th>Unit Price</th>
            <th>Yearly Production</th>
            <th>Yearly Consumption</th>
        </tr>
        <tr>
            <td><%=contents.name%></td>
            <td><%=contents.unit_price%></td>
            <td><%=contents.yearly_production%></td>
            <td><%=contents.yearly_consumption%></td>
        </tr>
    </table>
    <div>
        <% if(canDeleteHere){%>
            <a href="/tabs/<%=category%>/<%=contents.key%>/delete" onclick="return confirm('are you sure?')">THROW AWAY(this good)</a>
        <%}%>   
        <% if(canUpdateHere){%>
            <%- include("../forms/edit/edit_category.ejs") %>
        <%}%>
    </div>
</ul>
</main>