
  <form action="/tabs/<%=category%>/<%=tab_id%>/addData" method="POST">
    <div id="inputs">
      <h1>Inputs</h1>
      <div>
        <select name="inputGoods[]">
          <% goodsList.forEach(function(cat){ %>
            <option value="<%= cat.key %>"><%= cat.name %></option>
          <% }) %>
        </select>
        <input
          type="number"
          name="inputAmount[]"
          step="any"
          id="inputAmount"
          required
        />
        <br>
    </div>
  </div>  
  <!--OUTPUTS-->
  <div id="inputs">
    <h1>Inputs</h1>
      <div>
        <select name="outputGoods[]">
          <% goodsList.forEach(function(cat){ %>
            <option value="<%= cat.key %>"><%= cat.name %></option>
          <% }) %>
        </select>
        <input
          type="number"
          name="outputAmount[]"
          step="any"
          id="outputAmount"
          required
        />
        <br>
      </div>
  </div> 
      <div>
      <label for="key">Population Centre Key</label>
      <input
        type="text"
        name="key"
        id="key"
        required
        minlength="1"
        maxlength="500"
        value="<%= locals.name || '' %>"
      />
    </div>
    <div>
      <label for="popCentre_name">Population Centre Name</label>
      <input
        type="text"
        name="popCentre_name"
        id="popCentre_name"
        required
        minlength="1"
        maxlength="500"
        value="<%= locals.name || '' %>"
      />
    </div>
    <div>
      <label for="population">Population</label>
      <input
        type="number"
        name="popCentre_population"
        step="any"
        id="popCentre_population"
        required
        value="<%= locals.kilogram_price || '' %>"
      />
    </div>
    <input type="hidden" name="category" value="<%= category %>">

    <div>
      <button type="submit">Add this good...</button>
    </div>
      <button type="button" id="addInput">Add another input</button>
  </form>


  <template id="inputTemplate">  <!--i think this was the simplest way to do this. many such cases.-->
    <div>

    <select name="inputGoods[]">
      <% goodsList.forEach(function(cat){ %>
        <option value="<%= cat.key %>"><%= cat.name %></option>
      <% }) %>
      </select>
      <input
        type="number"
        name="inputAmount[]"
        step="any"
        id="inputAmount"
        required
      />
      <br>
      </div>
    </template>


<script>
  /*
  this is so that an additional dropdown can be added
  
  */
  document.getElementById('addInput').addEventListener("click", () => {
    const template = document.getElementById("inputTemplate");
    const clone = template.content.cloneNode(true);
    document.getElementById("inputs").appendChild(clone);
  })
</script>