<%- include("head.part.ejs") %> 
<main> 
<!--gdyz tak zuniwersalizowalem format, musi byc taka logika-->
<ul id="contents">
    <details >
        <summary>
            <p>Good Name: <%=contents.name%></p>
        </summary>
        <div class="smallTextForMetaData">
            <p style="font-weight: bolder;">technical information</p>
            <% for (let key in contents) { %>
                <p><%= key %>: <%=contents[key]%></p>
            <% } %>
        </div>
    </details>
    <div>
        <a href="/tabs/<%=category%>/<%=contents.key%>/delete" onclick="return confirm('are you sure?')">KILL(this population centre)</a>
        <h1>new</h1>
        <%- include("forms/add_to_category.ejs") %>
    </div>
</ul>
</main>