<details name="addEdit">
  <summary><h1>Add New Population Centre</h1></summary>
<form action="/tabs/<%=category%>/<%=tab_id%>/addData" method="POST">
        <div>
      <label for="key">Population Centre Key</label>
      <input
        type="text"
        name="key"
        id="key"
        required
        minlength="1"
        maxlength="500"
        value="<%= locals.name || '' %>"
      />
    </div>
    <div>
      <label for="popCentre_name">Population Centre Name</label>
      <input
        type="text"
        name="popCentre_name"
        id="popCentre_name"
        required
        minlength="1"
        maxlength="500"
        value="<%= locals.name || '' %>"
      />
    </div>
    <div>
      <label for="population">Population</label>
      <input
        type="number"
        name="popCentre_population"
        step="any"
        id="popCentre_population"
        required
        value="<%= locals.kilogram_price || '' %>"
      />
    </div>
    <input type="hidden" name="category" value="<%= category %>">

    <div>
      <button type="submit">Add this good...</button>
    </div>
  </form>
</details>