<%- include("head.partial.ejs") %>

<main>
    <h1><%= title %></h1>
    <ul id="flashcards">
        <% categories.forEach(function(card){ %>
        <li><a href="/cards/<%= card.id %>"><%= card.name %></a></li>
        <% }) %>
  </ul>
</main>

<%- include("foot.partial.ejs") %>