<%- include("head.part.ejs") %> 
<main> 
    <%- include("with_forms_header.ejs")%>
<ul id="contents">
    <div >
        <p>Good Name: <%=contents.name%></p>
        <p>Yearly Production: <%=contents.yearly_production%></p>
        <p>Yearly Consumption: <%=contents.yearly_consumption%></p>
        <p>Price per kilogram: <%=contents.perKilogram_price%></p>
    </div>
    <div>
        <% if(canDeleteHere){%>
            <a href="/tabs/<%=category%>/<%=contents.key%>/delete" onclick="return confirm('are you sure?')">THROW AWAY(this good)</a>
        <%}%>
        <% if(canCreateHere){%>
            <h1>new</h1>
            <%- include("forms/add_to_category.ejs") %>
        <%}%>
        <% if(canUpdateHere){%>
            <%- include("forms/edit/edit_category.ejs") %>
        <%}%>
    </div>
</ul>
</main>